* {
	font-family: "Fira Sans Sembibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	background-image: none;
	box-shadow: none;
	transition: 20ms;
}

window {
	background-color: rgba(221, 221, 221, 0.2);
}

button {
    color: #FFFFFF;
	font-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	background-color: rgba(12, 12, 12, 0.8);
	border-style: solid;
    border-radius: 20px;
    border: 3px solid #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
}

button:focus,
button:active,
button:hover {
    color: #FFFFFF;
	border-color: #1e1e2e;
	background-color: rgba(24, 24, 37, 0.8);
	outline: none;
}

#lock {
    background-image: image(url("icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
