window {
    margin: 0px;
    border: 2px solid #181825;
    background: rgba(12, 12, 12, 0.8);
    border-radius: 15px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    border-radius: 15px;
    color: #cdd6f4;
    font-weight: bold;
    background: transparent;
   	outline: none;
    margin: 10px;
}

#inner-box {
    margin: 4px;
    border: none;
    border-radius: 15px;
    color: #cdd6f4;
    font-weight: bold;
    background: transparent;
    outline: none;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    padding: 10px 10px 15px 10px;
    outline: none;
    background: none;
    background: transparent;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    background: transparent;
    outline: none;
    margin: -2px 0px;
}

#img:selected {
    background: transparent;
}

#text {
    padding: 0 0 0 8px;
    background: transparent;
    outline: none;
}

#text:selected {
    color: #cdd6f4;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background: transparent;
    outline: none;
}

#entry {
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: transparent;
    outline: none;
}

#entry:selected {
    margin: 0;
    border: none;
    background: rgba(24, 24, 37, 0.8);
    outline: none;
}
